{% extends 'acout_main.html' %}
{% block top_right %}
    <div class="top_butoon">
        <ul class="nav nav-pills">
            <li role="presentation"  ><a href="/index.html" >主页</a></li>
            <li role="presentation" ><a href="/acount/mine/{{ u_id }}.html">个人资料</a></li>
            <li role="presentation"><a href="/acount/logout.html">注销</a></li>
            <li role="presentation"><img style="height: 50px;overflow: hidden;border-radius: 50%" src="{{ file_path }}"></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div STYLE="width: 60%;position: absolute;top: 10%;left: 20%;">
        <form method="post" action="http://127.0.0.1:8000/main/{{sid}}/edit_cls.html" novalidate>
            <p>{{ obj.title }}{{ obj.errors.title.0 }}</p>
            <p>{{ i.name }}</p>
            <input type="submit" value="提交" id="sub">
        </form>
    </div>
{% endblock %}
