{% extends 'acout_main.html' %}
{% block body %}
    <div style="position: absolute;top: 42%;right: 50%">
    <form method="post" action="/acount/sigh_up.html" NOVALIDATE>
        {% csrf_token %}
        <p>{{ obj.user }}{{ obj.errors.user.0 }}</p>
        <p>{{ obj.pwd }}{{ obj.errors.pwd.0 }}</p>
        <input type="submit" value="登录" class="btn-group btn-group-lg" role="group" style="position: relative;bottom: -25px;left: 35%">
    </form>
    </div>
{% endblock %}
{% block top_right%}
    <div class="top_butoon">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">登陆</a></li>
            <li role="presentation" ><a href="/acount/sigh_in.html">注册</a></li>
        </ul>
    </div>
{% endblock %}